.DS_Store
node_modules
/dist

# ignoring contents inside dev/
# https://stackoverflow.com/questions/5600621/gitignore-exclude-files-in-directory-but-not-certain-directories
src/data/dev/*
!src/data/dev/.gitkeep

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
tags

# Hosting
.firebase*
