/* GLOBAL COLORS */

/* dark mode colors (dm) */
$dm-font-link: #82ccdd;
$dm-font-hover: #3c6382;
$dm-font-headers: #eeeeee;
$dm-font-text: #dddddd;
$dm-font-precode: #333333;
$dm-bg-page: #333333;
$dm-bg-button: #333333;
$dm-bg-button-border: #dddddd;
$dm-shadow-button: #000000;

/* LIGHT MODE COLORS */
$lm-font-link: #0074d9;
$lm-font-precode: #444444;
$lm-font-text: #333333;
$lm-font-headers: #2c3e50;
$lm-font-hover: #2f3542;
$lm-bg-button: #ffffff;
$lm-bg-button-border: #333333;
$lm-bg-page: #ffffff;
$lm-shadow-button: #333333;
$lm-code-bg: #eeeeee;
